.showDiv {
  background-color: rgb(39, 39, 39);
  height: 100%;
  width: 100%;
}

hr {
  color: white;
  margin: 0;
}

.showContent {
  display: flex;
  flex-direction: column;
}

.backArrow {
  background-color: rgba(255, 255, 255, 0.171);
  color: rgb(156, 184, 212);
  width: 5em;
  border-radius: 5px;
  padding: .75em;
  margin: 1em 0 1em 0;
  transition: .5s;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.329);
}

.backArrow:hover {
  transition: .5s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.404);
  color: black;
}

.mainImage {
  position: relative;
  max-width: 100%;
  height: 40em;
  /* background-image: url(https://ocmain.s3-us-west-1.amazonaws.com/Ethan+Cowsky/FINALLY+BACK.png); */
  background-size: contain;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 1.5em auto;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.329);
  border-radius: 5px;

}

.imgCover {
  position: absolute;
  top: 0;
  z-index: 100;
  /* clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
  /* background-color: rgba(146, 145, 145, 0.616); */
  background: linear-gradient(to right bottom, #2f344100 50%, rgba(146, 145, 145, 0.267) 50%);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 1.5s;
  z-index: 1;

}

.imgCover:hover {
  opacity: 0;
  transition: ease-in-out .75s;
}

.title {
  position: absolute;
  left: 15%;
  bottom: 70%;
  width: 30%;
  font-size: 2rem;
  color: white;
}

.description {
  position: absolute;
  width: 30%;
  right: 10%;
  bottom: 22.5%;
}

.description p {
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.resolution{
  position: absolute;
  bottom: .5em;
  right: .5em;
  color: white;
}

.resDemo{
  text-align: center;
  margin: auto;
  width: 5%;
  height: 5%;
  border-radius: 2px;
  background-color: white;
}

.buyBanner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 1em;
}

.buyInfo {
  width: 100%;
  color: white;
  align-self: center;
  justify-content: center;
  border-radius: 5px;
}

.buyInfo p {
  width: 100%;
  margin: 0;
}

.buyBtn {
  align-self: flex-end;
  width: 20%;
  color: rgb(156, 184, 212);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.171);
  border: none;
  padding: .75em;
  border-radius: 5px;
  transition: .5s;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.329);
}

.buyBtn:hover {
  transition: .5s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.404);
  color: black;
}

.buyBtn i {
  font-size: 2em;
}