.landing {
  position: relative;
  font-family: roboto;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.landingNav {
  opacity: .8;
}

.hovered {
  border-radius: 25px;
  box-shadow: none !important;
  transition: .5s;
  transform: scale(1.1)
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.zoom {
  /* background-size: 125% !important; */
  transition: .5s !important;
  transform: scale(1.1);
  max-height: 100vh;
  max-width: 100vw;
  filter: blur(5px);
  overflow: hidden !important;
}

.wallpaper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s;
} 

.adminLink{
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: white;
  padding: 1em;
  border-radius: 10px;
  transition: .5s;
}

.adminLink:hover{
  box-shadow: inset 2px 4px 20px rgba(20, 20, 20, 0.712);
}

.boxes {
  position: absolute !important;
  text-shadow: 1px 3px 3px #383838;
  font-weight: 300;
  box-shadow: 1px 3px 3px #696969;
  background: inherit;
  color: white;
  padding: 2vw;
  border: 3px solid white;
  font-size: 2vw;
  transition: .5s;
  box-shadow: inset 0 0 200px 10px rgba(255, 255, 255, 0.637);
}

.contactMe {
  bottom: 12%;
  left: 43.5%;
}

.myWork {
  right: 10%;
  top: 45%;
}

.logo{
  left: 10%;
  top: 22.5%;
}

.igLink {
  height: 10%;
  overflow: hidden;
  transition: .25s;
}

.logo:hover .igLink {
  height: 100%;
  transition: .25s;
}

.hidden {
  display: none;
  overflow: hidden;
  transition: .25s;
}

.shown{
  max-height: 100px;
}


@media screen and (max-width:1000px){
  
  .boxes{
    font-size: 5.25vw;
    text-align: center;
  }
  .contactMe {
    bottom: 15%;
    left: 35%;
  }
  
  .myWork {
    right: 5%;
    top: 47%;
  }
  
  .logo{
    left: 5%;
    top: 18%;
    width: 9rem;
  }
}

.hovered::before{
  content: "";
  position: absolute;
  background: inherit;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  border-radius: 50px;
  box-shadow: 0 0 200px 10px rgba(255, 255, 255, 0.637);
  /* transition: .5s !important; */
}

li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url('https://d147gc4b3ckpsg.cloudfront.net/filters:quality(100)/fit-in/1200x800/filters:format(jpeg)/uploads/Forrest Boi.png');
  animation-delay: 3s; 
 
}
.slideshow li:nth-child(2) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/456456.jpg");
  animation-delay: 13s; 
}
.slideshow li:nth-child(3) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/234234.png");
  animation-delay: 23s; 
}


.slideshow2 li:nth-child(1) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/567567.jpg") ;
  animation-delay: 8s; 

}
.slideshow2 li:nth-child(2) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/678678.jpg");
  animation-delay: 18s; 
}
.slideshow2 li:nth-child(3) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/345345.jpg");
  animation-delay: 28s; 
}


.slideshow3 li:nth-child(1) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/Finally Back.png");
  animation-delay: 10s; 
 
}
.slideshow3 li:nth-child(2) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/123123.jpg");
  animation-delay: 20s; 
}
.slideshow3 li:nth-child(3) { 
  background-image: url("https://d147gc4b3ckpsg.cloudfront.net/filters:quality(80)/filters:format(jpeg)/uploads/456456.jpg");
  animation-delay: 30s; 
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}