.index{
  width: 100%;
  background-image: linear-gradient( rgb(201, 201, 201), rgb(0, 0, 0));  
  margin: 0;
  position: relative;
}

.landingNav {
  opacity: .8;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em auto 1em auto;
}


@media screen and (max-width:1000px){
  
  .photos {
    display: flex;
    flex-direction: column;
  }
  
}