.index{
  width: 100%;
  /* background-image: linear-gradient( rgb(201, 201, 201), rgb(0, 0, 0));   */
  background-color: rgb(39, 39, 39);
  margin: 0;
  position: relative;
}

.landingNav {
  opacity: .8;
}
.top_banner{
  text-shadow: 3px 5px 12px rgba(0, 0, 0, 0.329); 
}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 1em 1em 0 1em;
  /* max-width: 1750px!important; */
}


@media screen and (max-width:1300px){
  
  
}