.photocard {
  display: flex;
  margin: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 40em;
  justify-content: center;
  position: relative;
  height: 30em;
  font-family: Roboto;
  overflow: hidden;
  box-shadow: 
    3px 5px 12px -1px rgba(0, 0, 0, 0.329);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;


  /* display: flex;
  margin: 0 10em 2em 10em;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 100%;
  justify-content: center;
  position: relative;
  height: 50em;
  font-family: Roboto;
  overflow: hidden;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.329);
  border-radius: 5px; */
}

a {
  text-decoration: none;
}

.image {
  width: 100%;
  /* background-size: contain; */
  transition: .35s ease-in-out; 
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
}

.image:hover {
  transition: .35s ease-in-out; 
  background-size: 150%;
}

.image:hover .infoText{
  opacity: 1;
  transition: .75s;
}
.image:hover .info{
  background-color: rgba(77, 77, 77, 0.774);
  transition: .5s ease-in-out;
}

.info {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .25s;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: rgba(146, 145, 145, 0.582);
  text-shadow: 2px 2px #00000088;
}

/* .infoText {
  position: absolute;
  color: white;
  max-width: 30%;
  bottom: 10%;
  right: 25%;
  text-shadow: 2px 2px #00000088;
  font-size: calc(0.5em + 1vmin);
  opacity: 0;
  font-family: 'Roboto', sans-serif;
} */

.infoText:hover {
  opacity: 1;
  transition: .5s;
}

.infoTitle{
  position: absolute;
  color: white;
  max-width: 40%;
  /* font-weight: 600; */
  font-size: 1.35em;
  bottom: 45%;
  right: 5%;
  text-shadow: 3px 5px 4px #222222a2;

}

.infoButton {
  position: absolute;
  bottom: 10%;
  right: 5%;
  border-radius: 5px;
  padding: 0.75em;
  /* background-color: #c4c4c4; */
  /* border: 1px solid white; */
  border: 1px solid white;
  color: white;
  text-shadow: 1px 1px #25252552;
  transition: .25s;
}

.infoButton:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.753);
  border: none;
  transition: .25s;
}



@media screen and (max-width:1000px){
  .photocard{
    height: 25em;
  }
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .35s;
  }
  .image:hover {
    background-size: cover;
  }
  .info {
    opacity: 1;
    transition: .25s;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: rgba(146, 145, 145, 0.459);
  }
  .infoTitle{
    bottom: 25%;
    right: 10%
  }
  .infoText {
    display: none;
  }
  .infoButton{
    bottom: 5%;
    padding: 0.5em;
  }
}